/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

 /* Bordered form */
 form {
  border: 9px solid #f1f1f1;
  align-content: center;
  padding-left: 50px;
  padding-right: 90px;
  padding-bottom: 30px;
  background-color:	rgb(248, 213, 184); 	
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  height: 35px;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

#email_input {
  width: 100%;
  height: 35px;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

#email_input1 {
  height: 35px;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  width: 207%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.div{
width: 80%;
padding: 12px 20px;
padding-left: 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
padding-left: 1px;
}

#headerDiv {
  width: 500px; 
  margin: 70px auto; 
  border: 1px solid black;
  padding: 20px 15px 25px 35px; 
  background-color: white;
}

#appbar {
  background-color: white;
  box-shadow: 0 0;
  border-bottom: 1px solid lightgray;
  }
  #appBarMenuAndTitle {
  display: flex;
  line-height: 1;
  }
  #appBarMenuAndTitle1 {
    display: flex;
    height: 50px; 
    margin: -20px;
    }
  #menu {
  color: gray
  }
  .title {
  margin-left: 30px;
  margin-right: 38px;
  padding-top: 15px;
  color: gray;
  line-height: 1;
  font-size: larger;
  }
  #appBarIcons {
  display: flex;
  line-height: 3
  }
  #searchBar {
  background-color: none;
  border-radius: 8px;
  background: rgba(0,0,0,0.04);
  border: 1px solid rgba(0,0,0,0);
  width: 600px;
  display: flex;
  position: relative;
  }
  #searchInputBase {
  width: 550px;
  padding: 0px 0px 0px 70px;
  display: flex;
  outline: none;
  background: transparent;
  height: 40px;
  border:none;
  box-sizing: border-box;
  }

  #keepImage {
    display: flex;
    width: 25px;
    height: 40px;
    padding-top: 5px;
  }
  
#signOutMenuItem {
  border:black solid 1px;
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 2px 10px 1px 12px;
  height: 20px;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07)
}

#signOutMenu {
  display: flex; 
  padding: 4px;
  height: 50px;
  justify-content: space-between;
  background-color: rgba(0,0,0,.2);
}

#accountCircle {
  width: 140px; 
  height: 110px; 
  margin: 10px 0px
}

#PaperDiv1 {
  height: 140px;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  display: flex
}


#SignIn {
  background-color: #4d90fe;
  color: white;
  padding: 10px;
  margin: 9px auto;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-left: 35px;
}

#Register {
  background-color: #4d90fe;
  color: white;
  padding: 10px;
  margin: 9px auto;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-left: 50%;
  margin-top: -12px;
}

#SendLink {
  background-color: #4d90fe;
  color: white;
  padding: 10px;
  margin: 9px auto;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: 61%;
  margin-top: 20px;
}

#Signin_buttonDiv {
  display: flex; 
  width: 100%;
  height: 40px;
  padding: 20px 0px 25px;
  margin-left: -15px;
  justify-content: space-evenly;
}

#link {
  text-decoration-line: none;
  color: blue
}

#h2 {
  color: green;
}

#message {
  margin-top: 0px;
  padding-left: 10px;
  color: darkgray;
}